USE [master]
GO
/****** Object:  Database [DATAWEBENG]    Script Date: 09/04/2024 6:09:57 CH ******/
CREATE DATABASE [DATAWEBENG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DATAWEBENG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DATAWEBENG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DATAWEBENG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DATAWEBENG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DATAWEBENG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DATAWEBENG]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 09/04/2024 6:09:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 09/04/2024 6:09:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](25) NOT NULL,
	[EMAIL] [varchar](40) NOT NULL,
	[ROLE] [bit] NOT NULL,
	[PASS] [char](50) NOT NULL,
 CONSTRAINT [PK__ACCOUNT__3214EC27F95A753F] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamHistory]    Script Date: 09/04/2024 6:09:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamHistory](
	[ScoreID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ExamID] [int] NOT NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[Score] [float] NOT NULL,
 CONSTRAINT [PK__Scores__7DD229F1D93F3897] PRIMARY KEY CLUSTERED 
(
	[ScoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXAMS]    Script Date: 09/04/2024 6:09:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXAMS](
	[EXAMID] [int] IDENTITY(1,1) NOT NULL,
	[EXAMNAME] [varchar](100) NULL,
 CONSTRAINT [PK__EXAMS__8D5AA6D03AB45CC0] PRIMARY KEY CLUSTERED 
(
	[EXAMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRAMMAR]    Script Date: 09/04/2024 6:09:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRAMMAR](
	[NAME] [nvarchar](40) NOT NULL,
	[TITLE] [nvarchar](300) NOT NULL,
	[CONFIRM] [nvarchar](50) NULL,
	[DOUBT] [nvarchar](50) NULL,
	[NEGATIVE] [nvarchar](50) NULL,
	[Order] [nvarchar](50) NULL,
 CONSTRAINT [PK__GRAMMAR__D9C1FA016FE38402] PRIMARY KEY CLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUESTIONS]    Script Date: 09/04/2024 6:09:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUESTIONS](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[QCID] [int] NOT NULL,
	[QuestionText] [text] NULL,
	[AnswerA] [text] NULL,
	[AnswerB] [text] NULL,
	[AnswerC] [text] NULL,
	[AnswerD] [text] NULL,
	[CorrectAnswer] [nchar](1) NULL,
 CONSTRAINT [PK__QUESTION__0DC06F8CC26352A0] PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUESTIONS-CONTENT]    Script Date: 09/04/2024 6:09:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUESTIONS-CONTENT](
	[CONTENTID] [int] IDENTITY(1,1) NOT NULL,
	[QUESTIONS-STYLE] [ntext] NULL,
	[PICTURE] [nvarchar](200) NULL,
	[TEXT-CONTENT] [nvarchar](200) NULL,
	[ADUDI] [nvarchar](200) NULL,
	[Text-questionsbig-ifhave] [ntext] NULL,
	[EXAMID] [int] NULL,
 CONSTRAINT [PK_QUESTIONS-CONTENT] PRIMARY KEY CLUSTERED 
(
	[CONTENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TESTGRAMMAR]    Script Date: 09/04/2024 6:09:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TESTGRAMMAR](
	[NAME] [nvarchar](40) NOT NULL,
	[ExOr] [nvarchar](150) NULL,
	[Ex1] [nvarchar](150) NULL,
	[Ex2] [nvarchar](150) NULL,
	[Ex3] [nvarchar](150) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserResponses]    Script Date: 09/04/2024 6:09:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserResponses](
	[ResponseID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[ExamID] [int] NULL,
	[QuestionID] [int] NULL,
	[UserAnswer] [char](1) NULL,
	[IsCorrect] [int] NULL,
 CONSTRAINT [PK__UserResp__1AAA640C0853FB66] PRIMARY KEY CLUSTERED 
(
	[ResponseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VOCABULARY]    Script Date: 09/04/2024 6:09:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOCABULARY](
	[FCHAR] [char](1) NOT NULL,
	[NAMEEN] [varchar](30) NOT NULL,
	[NAMEVN] [nvarchar](150) NOT NULL,
	[TYPE] [varchar](10) NOT NULL,
	[TITLE] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[NAMEEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ACCOUNT] ON 

INSERT [dbo].[ACCOUNT] ([ID], [NAME], [EMAIL], [ROLE], [PASS]) VALUES (1, N'qdat', N'hnqdat2003@gmail.com', 1, N'quocdat2112                                       ')
INSERT [dbo].[ACCOUNT] ([ID], [NAME], [EMAIL], [ROLE], [PASS]) VALUES (12, N'quocdat', N'hngdat2003@gmail.com', 0, N'8C93DC87B9B1                                      ')
SET IDENTITY_INSERT [dbo].[ACCOUNT] OFF
GO
SET IDENTITY_INSERT [dbo].[ExamHistory] ON 

INSERT [dbo].[ExamHistory] ([ScoreID], [UserID], [ExamID], [StartTime], [EndTime], [Score]) VALUES (1, 1, 1, CAST(N'1753-01-01T00:00:00.000' AS DateTime), CAST(N'1753-01-01T00:00:00.000' AS DateTime), 28)
INSERT [dbo].[ExamHistory] ([ScoreID], [UserID], [ExamID], [StartTime], [EndTime], [Score]) VALUES (2, 1, 1, CAST(N'1753-01-01T00:00:00.000' AS DateTime), CAST(N'1753-01-01T00:00:00.000' AS DateTime), 42)
INSERT [dbo].[ExamHistory] ([ScoreID], [UserID], [ExamID], [StartTime], [EndTime], [Score]) VALUES (3, 1, 1, CAST(N'1753-01-01T00:00:00.000' AS DateTime), CAST(N'1753-01-01T00:00:00.000' AS DateTime), 28)
SET IDENTITY_INSERT [dbo].[ExamHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[EXAMS] ON 

INSERT [dbo].[EXAMS] ([EXAMID], [EXAMNAME]) VALUES (1, N'test 1 (low)')
INSERT [dbo].[EXAMS] ([EXAMID], [EXAMNAME]) VALUES (2, N'Test 2 (low)')
SET IDENTITY_INSERT [dbo].[EXAMS] OFF
GO
INSERT [dbo].[GRAMMAR] ([NAME], [TITLE], [CONFIRM], [DOUBT], [NEGATIVE], [Order]) VALUES (N'Future perfect', N'Thì tương lai hoàn thành (Future perfect tense) dùng để diễn tả một hành động hay sự việc hoàn thành trước một thời điểm trong tương lai.', N'S + Will + Have + V3 + O', N'S + Will + Not + Have + V3 + O', N'Has/Have + S + V3 + O', NULL)
INSERT [dbo].[GRAMMAR] ([NAME], [TITLE], [CONFIRM], [DOUBT], [NEGATIVE], [Order]) VALUES (N'Future perfect progresstive', N'Thì tương lai hoàn thành tiếp diễn (Future perfect continuous tense) dùng để diễn tả một hành động, sự việc sẽ xảy ra và xảy ra liên tục trước một thời điểm nào đó trong tương lai.', N'S + Will + Have + Been + V1 + ing + O', N'S + Will + Not + Have + Been + V1 + ing + O', N'S + Will + Not + Have + Been + V1 + ing + O', NULL)
INSERT [dbo].[GRAMMAR] ([NAME], [TITLE], [CONFIRM], [DOUBT], [NEGATIVE], [Order]) VALUES (N'Future progresstive', N'Thì tương lai tiếp diễn (Future continuous tense) dùng để diễn tả một hành động, sự việc sẽ đang diễn ra tại một thời điểm cụ thể trong tương lai.', N'S + Will + Be + V1 + ing + O', N'S + Will + Not + Be + V1 + ing + O', N'Will + S + Be + V1 + ing + O', NULL)
GO
SET IDENTITY_INSERT [dbo].[QUESTIONS] ON 

INSERT [dbo].[QUESTIONS] ([QuestionID], [QCID], [QuestionText], [AnswerA], [AnswerB], [AnswerC], [AnswerD], [CorrectAnswer]) VALUES (1, 1, N'If you''re feeling __________, I recommend taking a break. ', N'exhausted', N'happily', N'occasionally', N'boredom ', N'B')
INSERT [dbo].[QUESTIONS] ([QuestionID], [QCID], [QuestionText], [AnswerA], [AnswerB], [AnswerC], [AnswerD], [CorrectAnswer]) VALUES (2, 1, N'She works __________ to meet the deadlines.', N'hard', N'suddenly', N'important ', N'near', N'A')
INSERT [dbo].[QUESTIONS] ([QuestionID], [QCID], [QuestionText], [AnswerA], [AnswerB], [AnswerC], [AnswerD], [CorrectAnswer]) VALUES (3, 2, N'1.', N'educators', N'educator', N'educate', N'person', N'A')
SET IDENTITY_INSERT [dbo].[QUESTIONS] OFF
GO
SET IDENTITY_INSERT [dbo].[QUESTIONS-CONTENT] ON 

INSERT [dbo].[QUESTIONS-CONTENT] ([CONTENTID], [QUESTIONS-STYLE], [PICTURE], [TEXT-CONTENT], [ADUDI], [Text-questionsbig-ifhave], [EXAMID]) VALUES (1, N'choose the best answer', NULL, N'choose the best answer', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[QUESTIONS-CONTENT] OFF
GO
INSERT [dbo].[TESTGRAMMAR] ([NAME], [ExOr], [Ex1], [Ex2], [Ex3]) VALUES (N'Present simple', NULL, N'I work', N'I do not work', N'Do I work?')
INSERT [dbo].[TESTGRAMMAR] ([NAME], [ExOr], [Ex1], [Ex2], [Ex3]) VALUES (N'Present perfect', NULL, N'I have worked', N'I have not worked', N'Have I worked?')
INSERT [dbo].[TESTGRAMMAR] ([NAME], [ExOr], [Ex1], [Ex2], [Ex3]) VALUES (N'Present progresstive', NULL, N'I am working', N'I am working', N'Am I working?')
GO
SET IDENTITY_INSERT [dbo].[UserResponses] ON 

INSERT [dbo].[UserResponses] ([ResponseID], [UserID], [ExamID], [QuestionID], [UserAnswer], [IsCorrect]) VALUES (1, 1, 1, 1, N'A', 0)
INSERT [dbo].[UserResponses] ([ResponseID], [UserID], [ExamID], [QuestionID], [UserAnswer], [IsCorrect]) VALUES (2, 1, 1, 2, N'A', 1)
INSERT [dbo].[UserResponses] ([ResponseID], [UserID], [ExamID], [QuestionID], [UserAnswer], [IsCorrect]) VALUES (3, 1, 1, 3, N'A', 1)
SET IDENTITY_INSERT [dbo].[UserResponses] OFF
GO
INSERT [dbo].[VOCABULARY] ([FCHAR], [NAMEEN], [NAMEVN], [TYPE], [TITLE]) VALUES (N'a', N'a', N'một, cái gì đó,...', N'article', N'')
INSERT [dbo].[VOCABULARY] ([FCHAR], [NAMEEN], [NAMEVN], [TYPE], [TITLE]) VALUES (N'a', N'ago', N'đã qua, trong quá khứ', N'Adverb', N'dùng sau từ hoặc cụm từ mà nó bổ nghĩa, nhất là với thời quá khứ đơn giản, nhưng không thể dùng với thể hoàn thành')
INSERT [dbo].[VOCABULARY] ([FCHAR], [NAMEEN], [NAMEVN], [TYPE], [TITLE]) VALUES (N'a', N'ahead', N'xa hơn về phía trước, tiến xa hơn', N'Adverb', N'')
GO
ALTER TABLE [dbo].[VOCABULARY] ADD  DEFAULT (NULL) FOR [TITLE]
GO
ALTER TABLE [dbo].[ExamHistory]  WITH CHECK ADD  CONSTRAINT [FK__Scores__ExamID__4CA06362] FOREIGN KEY([ExamID])
REFERENCES [dbo].[EXAMS] ([EXAMID])
GO
ALTER TABLE [dbo].[ExamHistory] CHECK CONSTRAINT [FK__Scores__ExamID__4CA06362]
GO
ALTER TABLE [dbo].[ExamHistory]  WITH CHECK ADD  CONSTRAINT [FK__Scores__UserID__4D94879B] FOREIGN KEY([UserID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[ExamHistory] CHECK CONSTRAINT [FK__Scores__UserID__4D94879B]
GO
ALTER TABLE [dbo].[QUESTIONS]  WITH CHECK ADD  CONSTRAINT [FK_QUESTIONS_QUESTIONS-CONTENT] FOREIGN KEY([QCID])
REFERENCES [dbo].[QUESTIONS-CONTENT] ([CONTENTID])
GO
ALTER TABLE [dbo].[QUESTIONS] CHECK CONSTRAINT [FK_QUESTIONS_QUESTIONS-CONTENT]
GO
ALTER TABLE [dbo].[QUESTIONS-CONTENT]  WITH CHECK ADD  CONSTRAINT [FK_QUESTIONS-CONTENT_EXAMS] FOREIGN KEY([EXAMID])
REFERENCES [dbo].[EXAMS] ([EXAMID])
GO
ALTER TABLE [dbo].[QUESTIONS-CONTENT] CHECK CONSTRAINT [FK_QUESTIONS-CONTENT_EXAMS]
GO
ALTER TABLE [dbo].[TESTGRAMMAR]  WITH CHECK ADD  CONSTRAINT [FK__TESTGRAMMA__NAME__5FB337D6] FOREIGN KEY([NAME])
REFERENCES [dbo].[GRAMMAR] ([NAME])
GO
ALTER TABLE [dbo].[TESTGRAMMAR] CHECK CONSTRAINT [FK__TESTGRAMMA__NAME__5FB337D6]
GO
ALTER TABLE [dbo].[UserResponses]  WITH CHECK ADD  CONSTRAINT [FK__UserRespo__Quest__4F7CD00D] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[QUESTIONS] ([QuestionID])
GO
ALTER TABLE [dbo].[UserResponses] CHECK CONSTRAINT [FK__UserRespo__Quest__4F7CD00D]
GO
ALTER TABLE [dbo].[UserResponses]  WITH CHECK ADD  CONSTRAINT [FK__UserRespo__UserI__5070F446] FOREIGN KEY([UserID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[UserResponses] CHECK CONSTRAINT [FK__UserRespo__UserI__5070F446]
GO
/****** Object:  StoredProcedure [dbo].[QuantityStatisticsAccount]    Script Date: 09/04/2024 6:09:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[QuantityStatisticsAccount]
AS
SELECT COUNT(*) FROM  ACCOUNT
GO
/****** Object:  StoredProcedure [dbo].[QuantityStatisticsEXAMS]    Script Date: 09/04/2024 6:09:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[QuantityStatisticsEXAMS]
AS
SELECT COUNT(*) FROM [dbo].[EXAMS]
GO
/****** Object:  StoredProcedure [dbo].[QuantityStatisticsQUESTIONS]    Script Date: 09/04/2024 6:09:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[QuantityStatisticsQUESTIONS]
AS
SELECT COUNT(*) FROM [dbo].[QUESTIONS]
GO
/****** Object:  StoredProcedure [dbo].[QuantityStatisticsScores]    Script Date: 09/04/2024 6:09:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[QuantityStatisticsScores]
AS
SELECT COUNT(*) FROM [dbo].[Scores]
GO
/****** Object:  StoredProcedure [dbo].[QuantityStatisticsTestgrammar]    Script Date: 09/04/2024 6:09:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[QuantityStatisticsTestgrammar]
AS
SELECT COUNT(*) FROM [dbo].[testgrammar]
GO
/****** Object:  StoredProcedure [dbo].[QuantityStatisticsUserResponses]    Script Date: 09/04/2024 6:09:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[QuantityStatisticsUserResponses]
AS
SELECT COUNT(*) FROM [dbo].[UserResponses]
GO
/****** Object:  StoredProcedure [dbo].[QuantityStatisticsVocabulary]    Script Date: 09/04/2024 6:09:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[QuantityStatisticsVocabulary]
AS
SELECT COUNT(*) FROM [dbo].[vocabulary] 
GO
/****** Object:  StoredProcedure [dbo].[selectAllAccount]    Script Date: 09/04/2024 6:09:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[selectAllAccount]
AS
SELECT * FROM dbo.account
GO
/****** Object:  StoredProcedure [dbo].[selectAllEXAMS]    Script Date: 09/04/2024 6:09:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[selectAllEXAMS]
AS
SELECT * FROM dbo.EXAMS
GO
/****** Object:  StoredProcedure [dbo].[selectAllGrammar]    Script Date: 09/04/2024 6:09:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[selectAllGrammar]
AS
SELECT * FROM dbo.grammar
GO
/****** Object:  StoredProcedure [dbo].[selectAllQUESTIONS]    Script Date: 09/04/2024 6:09:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[selectAllQUESTIONS]
AS
SELECT * FROM dbo.QUESTIONS
GO
/****** Object:  StoredProcedure [dbo].[selectAllScores]    Script Date: 09/04/2024 6:09:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[selectAllScores]
AS
SELECT * FROM dbo.Scores
GO
/****** Object:  StoredProcedure [dbo].[selectAllTestgrammar]    Script Date: 09/04/2024 6:09:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[selectAllTestgrammar]
AS
SELECT * FROM dbo.testgrammar
GO
/****** Object:  StoredProcedure [dbo].[selectAllUserResponses]    Script Date: 09/04/2024 6:09:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[selectAllUserResponses]
AS
SELECT * FROM dbo.UserResponses
GO
/****** Object:  StoredProcedure [dbo].[selectAllVocabulary]    Script Date: 09/04/2024 6:09:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[selectAllVocabulary]
AS
SELECT * FROM dbo.vocabulary
GO
/****** Object:  StoredProcedure [dbo].[UpdateAccountInFGPass]    Script Date: 09/04/2024 6:09:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateAccountInFGPass] 
    @account_id int,
	@account_pass char(12)
AS

BEGIN 
    UPDATE ACCOUNT
	SET PASS = @account_pass
	WHERE ID = @account_id
END
GO
/****** Object:  StoredProcedure [dbo].[EditVocabulary]    Script Date: 09/04/2024 6:09:58 CH ******/
CREATE PROCEDURE EditVocabulary
(
@nameen varchar(30),
@voca_fchar char(1), 
@voca_nameen varchar(30), 
@voca_namevn nvarchar(150), 
@voca_type varchar(10), 
@voca_title nvarchar(300)
)
AS
BEGIN
	UPDATE VOCABULARY
	SET FCHAR = @voca_fchar, NAMEEN = @voca_nameen, NAMEVN = @voca_namevn, TYPE = @voca_type, TITLE = @voca_title
	WHERE NAMEEN = @nameen
END
go
/****** Object:  StoredProcedure [dbo].[EditVocabularyIfTitleNull]    Script Date: 09/04/2024 6:09:58 CH ******/
CREATE PROCEDURE EditVocabularyIfTitleNull
(
@nameen varchar(30),
@voca_fchar char(1), 
@voca_nameen varchar(30), 
@voca_namevn nvarchar(150), 
@voca_type varchar(10)
)
AS
BEGIN
	UPDATE VOCABULARY
	SET FCHAR = @voca_fchar, NAMEEN = @voca_nameen, NAMEVN = @voca_namevn, TYPE = @voca_type, Title = null
	WHERE NAMEEN = @nameen
END
GO
USE [master]
GO
/****** Object:  StoredProcedure [dbo].[EditGrammarWithOrderNull]    Script Date: 09/04/2024 6:09:58 CH ******/
CREATE PROCEDURE EditGrammarWithOrderNull
(@name nvarchar(40), 
@grammar_name nvarchar(40), 
@grammar_title nvarchar(300), 
@grammar_confirm nvarchar(50), 
@grammar_doubt nvarchar(50), 
@grammar_negative nvarchar(50)
)
AS
BEGIN
		UPDATE GRAMMAR
		SET NAME = @grammar_name, TITLE = @grammar_title, CONFIRM = @grammar_confirm, DOUBT = @grammar_doubt, NEGATIVE = @grammar_negative, [Order] = null
		WHERE NAME = @name
END
GO
/****** Object:  StoredProcedure [dbo].[EditGrammarWithOrder]    Script Date: 09/04/2024 6:09:58 CH ******/
CREATE PROCEDURE EditGrammarWithOrder
(@name nvarchar(40), 
@grammar_name nvarchar(40), 
@grammar_title nvarchar(300), 
@grammar_order nvarchar(50)
)
AS
BEGIN
		UPDATE GRAMMAR
		SET NAME = @grammar_name, TITLE = @grammar_title, CONFIRM = null, DOUBT = null, NEGATIVE = null, [Order] = @grammar_order
		WHERE NAME = @name
END
GO