@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Vocabulary Page";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

=
<h2>Vocabulary</h2>
<table style="border: solid red; margin: 80px auto">
    <tr>
        <th style="border: solid red">
            Tên tiếng anh
        </th>
        <th style="border: solid red">
            Tên tiếng việt
        </th>
    </tr>
    {
        <tr>
            <th style="border: solid red">
                
            </th>
            <th style="border: solid red">
               
            </th>
        </tr>
    }

</table>
