@model weblearneng.Models.Exam

@{
    ViewData["Title"] = "addexam"; 
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>addexam</h1>

<h4>Exam</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="addexam">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Examname" class="control-label"></label>
                <input asp-for="Examname" class="form-control" />
                <span asp-validation-for="Examname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Exam">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
