@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

}
<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="../layoutlogin/images/signin-image.jpg" alt="sing up image"></figure>
                <a href="#" class="signup-image-link" style="color:#222222;">@Html.ActionLink("Create an account", "Signup", "Account")</a>
            </div>

            <div class="signin-form">
                <h2 class="form-title">Sign in</h2>
                <form method="post" class="register-form" id="login-form" action="Login">
                    <div class="form-group">
                        <label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                    <div class="form-group">
                        <label for="password"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                        <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                    </div>
                    <div class="form-group form-button">
                        <button type="submit" class="btn btn-primary">Đăng nhập</button>

                    </div>
                    @if (!string.IsNullOrEmpty(ViewBag.Error))
                    {
                        <div>@ViewBag.Error</div>
                    }
                </form>
                <div class="social-login">
                    <span class="social-label">Or login with</span>
                    <ul class="socials">
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


